@font-face {
  font-family: "iconfont"; /* Project id 2117333 */
  src: url('iconfont.woff2?t=1773646155660') format('woff2'),
       url('iconfont.woff?t=1773646155660') format('woff'),
       url('iconfont.ttf?t=1773646155660') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-zhankai:before {
  content: "\e668";
}

.el-icon-shouqi1:before {
  content: "\e624";
}

.el-icon-analysis:before {
  content: "\e60b";
}

.el-icon-iconkaifazhinan:before {
  content: "\e6aa";
}

.el-icon-iconleicankao:before {
  content: "\e61c";
}

.el-icon-moxing:before {
  content: "\e600";
}

.el-icon-shuju:before {
  content: "\e6a6";
}

.el-icon-jianjie:before {
  content: "\e615";
}

.el-icon-keshihua:before {
  content: "\e6c4";
}

.el-icon-changjing:before {
  content: "\e610";
}

.el-icon-shiliang:before {
  content: "\e697";
}

.el-icon-ditu:before {
  content: "\e7fa";
}

